{% from "macros/c++/concept.j2" import ConceptDefinition with context %}
{% from "macros/c++/namespace.j2" import NamespaceIncludeGuardName with context %}
#pragma once

#include "Seq/core/Tuple.hh"
#include "Decls.hh"

{% for include in concept.bases %}
{% set ParamName = sanitize(include.name) %}
{% set Prefix = include.ns | join('/') -%}

{%- if Prefix | length > 0 -%}
#include "{{Prefix}}/{{ ParamName }}.hh"
{%- else -%}
#include "{{ ParamName }}.hh"
{%- endif -%}

{% endfor %}

{{ ConceptDefinition(concept) }}
