{%- from "macros/c++/function.j2" import FunctionDeclaration with context -%}
#pragma once

#include "Exp.hh"
#include "Bind.hh"
#include "Function.hh"
#include "Traits.hh"
#include "Decls.hh"
#include "Seq/core/Tuple.hh"
#include "Number/core/NaturalStatic.hh"

{% set ConceptObject = get_concept("object::Object") %}

{% set ObjectPrefix = ConceptObject.ns | join('/') -%}
{%- if ObjectPrefix | length > 0 -%}
#include "{{ObjectPrefix}}/{{ ConceptObject.name }}.hh"
{%- else -%}
#include "{{ ConceptObject.name }}.hh"
{%- endif -%}

{% for param in needed_files %}

{% set ParamName = sanitize(param.name) %}
{% set Prefix = param.ns | join('/') -%}
{%- if Prefix | length > 0 -%}
#include "{{Prefix}}/{{ ParamName }}.hh"
{%- else -%}
#include "{{ ParamName }}.hh"
{%- endif -%}
{% endfor %}

{{ FunctionDeclaration(fun) }}
