{%- from "macros/c++/function.j2" import FunctionDefinition with context -%}
#pragma once

#include "{{ sanitize(fun.name) }}_dec.hh"

#include "Boolean/BooleanStatic.hh"
#include "Boolean/BooleanDynamic.hh"

#include "Number/NaturalDynamic.hh"
#include "Number/NaturalStatic.hh"
#include "Number/core/NaturalStatic.hh"

#include "Proj.hh"

{{ FunctionDefinition(fun) }}
